@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-image: url("./background.png");
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
  color: rgb(143, 170, 239, 1);
  font-size: 1.2rem;
  font-weight: bold;
}

/* Navbar Css styling */

.Logo {
  font-size: 1.8rem;
  font-size: 1.8rem;
  color: #ffffff;
  padding-left: 58px;
  align-content: center;
}

.nav {
  padding-top: 20px;
  color: white;
}
.nav-list {
  margin-right: 50px;
  font-size: large;
}
.nav-item {
  margin: 0px 10px;
  font-size: 1.2rem;
}
.navbar-toggler {
  margin-left: 10px;
  border: none;
}
.navbar-collapse {
  margin-left: 3rem;
  margin-right: 3rem;
}

/* Main body Css styling */

#home {
  padding-bottom: 50px;
}

.main-text {
  color: #ffffff;
  padding-top: 15vh;
  padding-left: 30px;
  font-weight: bold;
}
.main-description {
  color: #ffffff;
  padding-top: 2vh;
  padding-left: 30px;
}
.home {
  padding-top: 15%;
}
.buttons {
  margin-left: 20px;
  padding-top: 1vh;
}
.btn {
  margin: 5px;
}
.home_button {
  background-color: rgb(143, 170, 239, 1);
  border: 2px solid;
  border-color: rgb(143, 170, 239, 1);
  color: #e1dcdc;
  font-weight: bold;
  border-radius: 30px;
  padding: 2%;
  width: 150px;
  transition: 0.4s;
}
.home_button:hover {
  background-color: rgb(104, 95, 183);
  border-color: rgb(143, 170, 239, 1);
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* Footer */

.hr-container {
  text-align: center;
}

.hr-line {
  margin: 30px auto;
  width: 80%;
  height: 1px;
  background-color: #ccc;
  border: none;
}

.left-footer {
  padding-left: 40px;
  color: #ffffff;
}
.right-footer {
  color: #ffffff;
  text-align: end;
}
